Objective:
----------
Write a program in Java to play a number-guessing game. 

The game works as follows:
--------------------------
The user chooses a number in his mind and types "ready" to indicate to
the computer that he is ready to begin playing.

The computer asks a series of questions to arrive at the number the
user has in mind. The user can only respond with "higher","lower" or
"yes".  The game ends when the user responds with "yes" or "end".

Example:
-------

User chooses number 40 in his mind.

Computer: Is the number 30?
User: higher
Computer: Is the number 50?
User: lower
Computer: Is the number 35?
User: higher
Computer: Is the number 40?
User: yes

Please note:
------------
1. The program should be written to arrive at the answer 
     asking the least number of questions.
2. Assume that your program will be used in the real 
     world, so make it robust, and make any reasonable 
     assumptions about the other conditions of the game.
3. Provide working source code; there should be a class 
     with a main method that we can run to play the game. 
     If necessary, provide a build script written in Ant, 
     Maven or Gradle.
4. Working unit tests would be a bonus.
5. You can include any explanatory notes with your program.
